.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh !important;
  width: 100%;
  padding: 1rem;
  background: linear-gradient(
      135deg,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url('../../assets/img2.jpg') no-repeat center center/cover;
  position: fixed; /* Cover viewport */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* Glassmorphism card */
.auth-card {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 12px;
  padding: 1.5rem;
  width: 100%;
  max-width: 460px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #333;
}

.auth-card h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: #241b1b;
  font-weight: bold;
}

.auth-card input::placeholder {
  color: #000; /* Black placeholder text */
  opacity: 1; /* Ensures full color visibility */
}

.error {
  background: rgba(239, 68, 68, 0.2);
  color: #dc2626;
  padding: 0.5rem;
  border-radius: 6px;
  font-size: 0.85rem;
  margin-bottom: 1rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  align-items: center;
}

.auth-card input {
  padding: 0.6rem;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  font-size: 0.9rem;
  background: rgba(255, 255, 255, 0.25);
  color: #333;
}

.auth-card input:focus {
  border-color: #333;
  outline: none;
}

.auth-card button {
  padding: 0.6rem;
  background: #333;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  transition: 0.3s ease;
}

.auth-card button:hover {
  background: #333;
}

.auth-card p {
  text-align: center;
  font-size: 0.85rem;
  margin-top: 0.8rem;
  color: #241b1b;
  font-weight: bold;
}

.auth-card a {
  color: #241b1b;
  font-weight: bolder;
  text-decoration: none;
  font-size: 15px;
}

.auth-card a:hover {
  text-decoration: underline;
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

/* Mobile tweaks */
@media (max-width: 480px) {
  .auth-card {
    padding: 1rem;
    max-width: 100%;
  }

  .auth-card h2 {
    font-size: 1.25rem;
  }

  .auth-card input,
  .auth-card button {
    font-size: 0.85rem;
    padding: 0.5rem;
  }
}
